.menu {
   background-color: var(--light-yellow);
   padding: 1rem 0.8rem 2rem;
   line-height: 1.75rem;
   position: sticky;
   width: 100%;
   box-sizing: border-box;
   border-bottom: 3px solid var(--light-yellow-shadow);
   top: 47px;

}

.menu__title {
   font-size: var(--font3);
   font-weight: 500;
   margin-bottom: 0.5rem;
   display: inline-block;
}

.menu__item-link {
   text-decoration: none;
   color: inherit;
}

.menu__item-link--active {
   border-left: 5px solid var(--green);
   padding-left: 0.35rem;
}

@media screen and (min-width: 768px) {
   .menu {
      padding: 1rem 1rem 2rem;
      top: 51px;
   }
}

@media screen and (min-width: 1440px) {
   .menu {
      padding: 1rem 1.5rem 2.5rem;
      top: 55px;
   }   

   .menu__title {
      margin-bottom: 1rem;
   }
}